.main-box
{
    height: 100px;
    width: 100%;
    margin: 10px;
    border-radius: 10px;
    background-color: darkturquoise;
}

#red-box
{
    background-color: red;
}

#orange-box
{
    background-color: orange;
}

#yellow-box
{
    background-color: yellow;
}

#green-box
{
    background-color: green;
}

#blue-box
{
    background-color: blue;
}

#purple-box
{
    background-color: purple;
}

#pink-box
{
    background-color: pink;
}

#light-gray-box
{
    background-color: lightgray;
}

#gray-box
{
    background-color: gray;
}

#black-box
{
    background-color: black;
}